@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

    body {
      @apply bg-gray-200 text-gray-600 dark:text-gray-300;
    }

    h1, h2, h3, h4, h5, h6 {
      @apply font-bold tracking-wide leading-10 my-2 text-gray-800 dark:text-gray-200;
    }

    h1 {
      @apply text-xl leading-8 sm:text-3xl sm:leading-10 md:leading-12;
    }

    h2 {
      @apply text-base md:text-4xl;
    }
    h3 {
      @apply text-base md:text-3xl;
    }
    h4 {
      @apply text-base md:text-2xl;
    }
    h5 {
      @apply text-base md:text-xl;
    }
    h6 {
      @apply text-lg;
    }

    p {
      
    }

    hr {
      @apply my-4 border-gray-800 dark:border-gray-50 pb-4;
    }

    nav {
      @apply sm:pt-3;
    }

    ol  {
      @apply list-decimal px-8 ;
    }

    li {
      @apply list-disc list-inside;
    }

    a {
      @apply hover:underline;
    }

    .link-active {
      /* @apply before:content-["➤"]; */
      @apply font-bold;
    }

    html {
      max-width: 70ch;
      padding: 3em 1em;
      margin: auto;
      line-height: 1.75;
      font-size: 1.25em;
    }


